@model RecipeOrganiser.Models.Recipe

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServingSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
